/* .image-card {
  flex: 1;
  background: #dde6ed;
  padding:  20px 20px 0px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  margin: 10% 10% 10% 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.518);
}

.image-card:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.image-card .card-body .cardimage {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: auto;
  width: auto;
}

.image-card .card-body .card-title {
  background: B #ffffff;
  text-align: center;
  padding: 10px;
  color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding:  20px 20px px 20px;
  margin: 20px 20px 47px 20px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-card .card-body .cardimage:hover .overlay {
  opacity: 1;
} */

.image-card {
  flex: 1;
  background: #dde6ed;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  margin: 10% 10% 10% 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.518);
}

.image-card:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.image-card .card-body .cardimage {
  background: B #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  height: auto;
  width: auto;
}

.image-card .card-body .card-title {
  background: B #ffffff;
  text-align: center;
  padding: 10px;
  color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-card .card-body .cardimage:hover .overlay {
  opacity: 0.8;
}
