.text-white.active {
  background-color:  #fff !important; 
  color: #046197 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.518);
}

.text-white:hover {
  background-color:  #046197 !important;
  color: #fff !important;
}

.sd {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}