.nav-link.tab {
    width: 311.5px;
    color: #000000;
    background-color: #dde6ed;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-right: -1px;
    cursor: pointer;
    text-align: center;
}

.nav-link.tab.active {
    color: #ffffff; 
    background-color: #046197;
    border: 1px solid #007bff;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid #ccc;
}