.post.card-header {
  background: #fff;
  border-bottom: none;
}

.post.card-header img {
  border-radius: 50%;
  object-fit: cover;
}

.post.card-body {
  padding: 10px 15px;
}

.post.card-body .btn {
  padding: 2px 6px;
}

