.nav-link.tab {
    width: 303px;
    color: #000000;
    background-color: #fff;
    padding: 10px 20px;
    margin-right: -1px;
    cursor: pointer;
    text-align: center;
}

.nav-link.tab.active {
    color: #000000; 
    border-bottom: 5px solid #0000cc;
    cursor: default;
    font-weight: bold;
}

