body {
  background: #046197;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
}

.dashboard-content {
  flex: 1;
  background: #fff;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outlet {
  flex: 1;
  overflow-y: auto;
}
